<section class="departments-view">

    <!-- repeat staff, filter and group it -->
    <div
        class="department-staff"
        ng-repeat="(department, people) in filtered = (data | filterBy: ['name', 'email', 'phone', 'department']:filterstr) | groupBy:'department'"
    >
        <!-- separate department directive -->
        <department-staff-view
            caption="department"
            data="people"
            order="order"
            orderdir="orderdir"
        ></department-staff-view>

    </div>

    <!-- footer messages -->
    <div class="staff-footer">
        <p class="lead text-center staff-loading" ng-show="loading">
            Load staff...
        </p>

        <p class="staff-count" ng-show="filtered.length > 0"><b>Total count:</b> {{filtered.length}}</p>
        <p class="staff-not-found" ng-show="emptyResults()"><b>Sorry, we can't find anyone</b></p>
    </div>
</section>