@hover-background: @brand-info;


.table-view {
    .table-view-head {
        font-size: 18px;
        color: @brand-primary;
        padding: 15px 0;
        border-bottom: 1px solid @gray-lighter;
    }

    .table-view-element {
        padding: 5px 0;
        border-bottom: 1px solid @gray-lighter;
        &:hover {
            background: @hover-background;
            cursor: pointer;
        }
    }
}

.card-view {
    .wrapper {
       padding: 15px;
    }
    .card-item {
        white-space: nowrap;
        overflow: hidden;
        background: @gray-lighter;
        padding: 15px;

        img {
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .card-info {
            margin: 0;
        }

    }
}

.staff-loading, .staff-footer {
    margin-top: 30px;
}

.staff-footer {
    .text-center;
}
