<!-- main menu -->

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="{{menu.isCollapsed}}" aria-controls="navbar" ng-click="menu.toggle()" ng-class="{collapsed: !menu.isCollapsed}">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HR app</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-class="{in: menu.isCollapsed}">
            <ul class="nav navbar-nav">
                <!-- repeat menu items -->
                <li ng-repeat="menuItem in menu.menuItems" ng-class="menu.isActive(menuItem.link)" ng-click="menu.followLink()"><a href="{{menuItem.link}}">{{menuItem.name}}</a></li>
            </ul>
        </div>
    </div>
</nav>