<div class="container">
    <h1>Staff list</h1>

    <section class="control-panel row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Filter</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Filter here"
                    ng-model="staff.filter">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Sort by</label>
                        <select class="form-control" ng-model="staff.orderBy">
                          <option value="name">name</option>
                          <option value="email">email</option>
                          <option value="department">department</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Order</label>
                        <select class="form-control" ng-model="staff.orderReverse">
                          <option value="">asc</option>
                          <option value="true">desc</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Toggle view</label>
                <select ng-model="staff.currentView" class="form-control">
                  <option value="table">table</option>
                  <option value="cards">cards</option>
                  <option value="departments">departments</option>
                </select>
            </div>
        </div>
    </section>

    <!-- table view -->
    <table-view
        ng-if="staff.ifCurrentViewIs('table')"
        data="staff.staffList"
        loading="staff.loading"
        filterstr="staff.filter"
        order="staff.orderBy"
        orderdir="staff.orderReverse"
    ></table-view>

    <!-- card view -->

    <card-view
        ng-if="staff.ifCurrentViewIs('cards')"
        data="staff.staffList"
        loading="staff.loading"
        filterstr="staff.filter"
        order="staff.orderBy"
        orderdir="staff.orderReverse"
    ></card-view>

    <!-- departments view -->

    <department-view
        ng-if="staff.ifCurrentViewIs('departments')"
        data="staff.staffList"
        loading="staff.loading"
        filterstr="staff.filter"
        order="staff.orderBy"
        orderdir="staff.orderReverse"
    ></department-view>

<!--     <div class="staff-footer">
        <p class="lead text-center staff-loading" ng-show="staff.loading">
            Load staff...
        </p>

        <p ng-show="staff.filtered.length > 0"><b>Total count:</b> {{staff.filtered.length}}</p>
        <p ng-show="staff.emptyResults()"><b>Sorry, we can't find anyone</b></p>
    </div> -->



</div>
