<div class="container">
    <h1>Staff list</h1>

    <section class="control-panel row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label for="">Filter</label>
                <input
                    type="text"
                    class="form-control filter-word"
                    placeholder="Filter here"
                    ng-model="staff.filter">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label for="">Sort by</label>
                        <select class="form-control filter-sort" ng-model="staff.filterProps.orderBy" ng-change="staff.saveProps()">
                          <option value="name">name</option>
                          <option value="email">email</option>
                          <option value="department" ng-disabled="staff.ifCurrentViewIs('departments')">department</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label for="">Order</label>
                        <select class="form-control filter-order" ng-model="staff.filterProps.orderReverse" ng-change="staff.saveProps()">
                          <option value="">asc</option>
                          <option value="true">desc</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label for="">Toggle view</label>
                <select ng-model="staff.filterProps.currentView" class="form-control" ng-change="staff.saveProps()">
                  <option value="table">table</option>
                  <option value="cards">cards</option>
                  <option value="departments">departments</option>
                </select>
            </div>
        </div>
    </section>


    <!-- table view -->
    <table-view
        ng-if="staff.ifCurrentViewIs('table')"
        data="staff.staffList"
        loading="staff.loading"
        filterstr="staff.filter"
        order="staff.filterProps.orderBy"
        orderdir="staff.filterProps.orderReverse"
    ></table-view>

    <!-- card view -->

    <card-view
        ng-if="staff.ifCurrentViewIs('cards')"
        data="staff.staffList"
        loading="staff.loading"
        filterstr="staff.filter"
        order="staff.filterProps.orderBy"
        orderdir="staff.filterProps.orderReverse"
    ></card-view>

    <!-- departments view -->

    <department-view
        ng-if="staff.ifCurrentViewIs('departments')"
        data="staff.staffList"
        loading="staff.loading"
        filterstr="staff.filter"
        order="staff.filterProps.orderBy"
        orderdir="staff.filterProps.orderReverse"
    ></department-view>

</div>
