<div class="container">
    <h1>Staff list</h1>

    <section class="control-panel row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Filter</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Filter here"
                    ng-model="staff.filter">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Sort by</label>
                        <select class="form-control" ng-model="staff.orderBy">
                          <option value="name">name</option>
                          <option value="email">email</option>
                          <option value="department">department</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Order</label>
                        <select class="form-control" ng-model="staff.orderReverse">
                          <option value="">asc</option>
                          <option value="true">desc</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Toggle view</label>
                <select ng-model="staff.currentView" class="form-control">
                  <option value="table">table</option>
                  <option value="cards">cards</option>
                  <option value="departments">departments</option>
                </select>
            </div>
        </div>
    </section>

    <!-- table view -->
    <section class="table-view" ng-if="staff.ifCurrentViewIs('table')">
        <div class="table-view-head row">
            <div class="col-md-4">Name</div>
            <div class="col-md-3">Phone</div>
            <div class="col-md-3">Email</div>
            <div class="col-md-2">Department</div>
        </div>
        <div
            class="table-view-element row"
            ng-repeat="person in staff.filtered = (staff.staffList | filter: staff.filter) | orderBy:staff.orderBy:staff.orderReverse | sliceFilter:staff.currentPage:staff.limit track by person.id"
        >
            <div class="col-md-4"><a href="#">{{person.name}}</a></div>
            <div class="col-md-3">{{person.phone}}</div>
            <div class="col-md-3">{{person.email}}</div>
            <div class="col-md-2">{{person.department}}</div>
        </div>


        <div class="pagination text-center col-md-12">
            <uib-pagination
                ng-show="staff.filtered.length > staff.limit"
                total-items="staff.filtered.length"
                ng-model="staff.currentPage"
                max-size="5"
                items-per-page="staff.limit"
                boundary-link-numbers="true"
            >
            </uib-pagination>
        </div>

    </section>

    <!-- card view -->

    <section class="card-view row" ng-if="staff.ifCurrentViewIs('cards')">
        <div class="col-md-3 col-sm-4 col-xs-6 wrapper" ng-repeat="person in staff.filtered = (staff.staffList | filter: staff.filter) | orderBy:staff.orderBy:staff.orderReverse | sliceFilter:staff.currentPage:staff.limit track by person.id">
            <div class="card-item text-center">
                <h4>{{person.name}}</h3>
                <img class="img-responsive" ng-src="{{person.avatar}}" alt="{{person.name}}">
                <p class="card-info"><b>{{person.department}}</b><br>{{person.phone}}</p>
            </div>
        </div>

        <div class="pagination text-center col-md-12">
            <uib-pagination
                ng-show="staff.filtered.length > staff.limit"
                total-items="staff.filtered.length"
                ng-model="staff.currentPage"
                max-size="5"
                items-per-page="staff.limit"
                boundary-link-numbers="true"
            >
            </uib-pagination>
        </div>

    </section>

    <!-- departments view -->

    <department-view  ng-if="staff.ifCurrentViewIs('departments')" data="staff.staffList" filterstr="staff.filter" order="staff.orderBy" orderdir="staff.orderReverse"></department-view>


    <div class="staff-footer">
        <p class="lead text-center staff-loading" ng-show="staff.loading">
            Load staff...
        </p>

        <p ng-show="staff.filtered.length > 0"><b>Total count:</b> {{staff.filtered.length}}</p>
        <p ng-show="staff.emptyResults()"><b>Sorry, we can't find anyone</b></p>
    </div>


</div>
