.card-view {
    .wrapper {
       padding: 15px;
    }
    .card-item {
        white-space: nowrap;
        overflow: hidden;
        background: @gray-lighter;
        padding: 15px;

        &:hover {
            cursor: pointer;
        }

        img {
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .card-info {
            margin: 0;
        }

    }
}